<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-2">
		<h1 class="display-4">Editar Producto</h1>
 
			<%= render 'form' %>
			 
			<%= link_to 'Back', products_path %>

    </div>
  </div>
</div>
