<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<strong>Categorias</strong>
<br>
<% @product.category_ids.each do |id| %>
	<%= @category.find(id).name %><br>
<% end %>

<%= link_to 'Volver a productos', products_path %>
